# Database connection string (Available ONLY on the server)
DATABASE_URL="postgresql://user:secret@localhost:5432/mydb"

JWT_SECRET="insert secret key here";

# Secret API key for payment processing (Available ONLY on the server) only e.g. Not in use
STRIPE_SECRET_KEY="sk_test_abc123"

# Public API base URL (Exposed to the browser due to the NEXT_PUBLIC_ prefix) only e.g. Not in use
NEXT_PUBLIC_API_URL="https://api.example.com"

# Public application name (Exposed to the browser due to the NEXT_PUBLIC_ prefix)
NEXT_PUBLIC_APP_NAME="Next.js 101"